node_modules
.env
coverage
coverage.json
typechain
typechain-types

# IDEs
.vscode
.DS_Store

# Hardhat files
cache
artifacts

# Configuration
.env

# Deployment
deploy/*.json

# Deployment arguments
scripts/args.json

